@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@300&display=swap');

body {
    background-color: #e5e5e5;
    font-family: "Frekoda One", Manrope, Roboto, sans-serif;
    padding: 2vw;
}

h1 {
    background-color: #003049;
    color: #e5e5e5;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
}

main article {
    background-color: #7c3127;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main article p {
    color: #ffffff;
}

div {
    text-align: center;
}

div > img {
    width: 60vw;
}

main article h2 {
    background-color: #498c8a;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

p {
    padding: 10px;
    text-align: justify;
}

.example {
    display: table;
    margin: 0 auto;
    background-color: #cedaf8;
    color: #000000;
    padding: 6px;
    border-radius: 3px;
}
 h3 {
    font-style: italic;
    padding: 10px;
    margin: 0px ;
    padding-bottom: 0px;
    color: #ffffff;
}

.blue {
    color: rgb(0, 95, 228);
}

.no-bottom-margin {
    margin-top: 0px;
}

a:link {
    color: #00ff00;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:visited {
    color: #00ff00;
}
a:hover {
    color: #929fff;
    border-bottom: none;
}
a:active {
    color: #00ff00;
}

.yellow {
    color: #fff200;
}

.red {
        color: #810000;
}

.bold {
    text-decoration: ;
}
