.promed-link:link {
    color: #a9c6ff;
}

.promed-link:hover {
    color: rgb(210, 255, 155);

}

.promed-link:visited {
    color: #a9c6ff;

}

#promed-logo {
    height: 50px;
    width: auto;
}

form[role="search"] {
    margin-top: 7px;
}

.carousel-item {
    height: 35rem;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.overlay-darker {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#myCarousel {
    margin-top: 4.65rem;
}
